/* Base Styles
=====================================*/
* {
	line-height:1.3;
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size:1.2em;
	line-height: 1.2;
}

p {
	font-family: 'Montserrat', sans-serif;
	font-size:1.2em;
	line-height: 1.2;
}

a {
	text-decoration: none;
}

h1 {
	padding-top:3em;
	font-size: 1.7em;
	font-weight:bold;
	text-align: center;
	text-transform: uppercase;
}

h2 {
	font-size: 1.7em;
	font-weight:bold;
	text-align:center;
}

h3 {
	font-size: 1.5em;
	font-weight:bold;
	text-align:center;
}

html, body {
	height:100%;
}

/* Classes
=====================================*/

.bold {
	font-weight: 900;
}

.tag-line {
	font-size:1.45em;
}

.friends {
	text-align: right;
	font-size: .7em;
	clear:both;
	color:black;;
}

.white {
	color:white;
}

.reduced-width {
	margin-top:1.5em;
	display:block;
	max-width: 800px;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
}

.lower-section {
	text-align:center;
}

.mailchimp-form {
	max-width: 450px;
	margin-right: auto;
	margin-left: auto;
}

.margin {
	margin-top: 3em;
}

.background {
	background-image: url(../images/originals/background.png);
	background-size: cover;
    background-repeat: no-repeat;
}

.icon {
	font-size: 2em;
	color:#5B5B5B;
}

.icon:hover {
	color:#959292;
}

.copyright {
	margin-top: 4em;
	margin-bottom: 4em;
}

.innerwrapper {
	max-width:85%;
	margin:0 auto;
	position:relative;
}

.logo-section {
	position:relative;
}

.blue-background {
	background-color: #64bfe3;
}

.logo {
	width:45%;
	float:left;
	text-align:center;
}

.logo img {
	margin-top:6em;
	width: 100%;
}

.tcycle {
	max-width:45%;
	float:left;
}

.tcycle img {
	max-width:100%;
	display:none;
}

.tcycle img.first {
	display:block;
}

.social-media {
	width:10%;
	position:fixed;
	right:40px;
	top:20%;
}

.social-media ul {
	float:right;
	margin-right:20px;
	margin-bottom: 20px;
}

.social-media-sm {
	display:none;
}

.clear:after {
  content: "";
  display: table;
  clear: both;
}

.contact {
	margin-top:7em;
	padding-bottom: 30px;
}

.contact a {
	text-decoration: underline;
	color:black;
}


/* Signup Form
=====================================*/

form#mc-embedded-subscribe-form {
  padding-right: 10px !important;
}

.mailchimp-form input {
	font-family: 'Montserrat', sans-serif !important;
	border-radius:5px;
	font-size:1.1em !important;
	white-space: nowrap !important;
	overflow:hidden !important;
}
.mailchimp-form input[placeholder] { 
	text-overflow: ellipsis !important; 
}
::-moz-placeholder { 
	text-overflow: ellipsis !important; 
} /* firefox 19+ */

.mailchimp-form input:-moz-placeholder { 
	text-overflow: ellipsis !important; 
}

input#mc-embedded-subscribe {
	width:95% !important;
	background-color: #56FE03 !important;
	color:black !important;
	border:2px solid white !important;
	font-weight:bolder;
	margin-top: 10px !important;
	margin-right:15px !important;
	font-size:1.4em !important;
	padding-bottom:4px !important;
}

input#mc-embedded-subscribe:hover {
	background-color: #A6F97D !important;
	color:white !important;
}

div#mc_embed_signup {
	background-color:#6DCFF6;
	padding-top:20px;
	padding-left:15px;
	border-radius: 10px;
}

#mc_embed_signup {
	background:#fff; 
	clear:left; 
	font:14px 'Montserrat', sans-serif; 
}

/* Media Queries 
=====================================*/

@media (max-width: 1200px) {
	.friends {
		text-align: center;
	}

	.tag-line {
		font-size: 1.2em;
	}
}

@media (max-width: 1000px) {
	.tag-line {
		font-size: 1em;
	}

	.social-media {
		top: 10%;
	}

	.reduced-width {
		width:75%;
	}
}

@media (max-width: 820px) {
	.social-media {
		top:5%;
		right:10px;
	}

	h1, h2 {
		font-size:1.4em;
	}

	h3 {
		font-size: 1.2em;
	}

}

@media (max-width: 680px) {
	.logo {
		width:95%;
		margin-right:auto;
		margin-left:auto;
		float:none;
	}

	.logo img {
		margin-top: 2em;
	}

	.social-media {
		display:none;
	}

	.social-media-sm {
		display: block;
		width:90%;
		margin-left: auto;
		margin-right:auto;
		text-align: center;
		margin-top:2em;
	}

	.social-media-sm li{
		display:inline;
	}

	.friends-sm {
		margin-top:1em;
		display:block;
		width:100%;
		text-align: center;
		font-size: .9em;
	}

	.tcycle {
		max-width:98% !important;
		margin-right:auto;
		margin-left:auto;
		float:none;
		margin-top:2em;
	}
}

